@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    background-color: rgba(255, 223, 162, 0.505);
    font-family: 'Lemon', sans-serif;
}

nav {
    margin: 10px 20px 40px 20px;

}

ul.container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: transparent;
}

 #div-1{
    max-width: 200px;
 }


li a{
    text-decoration: none;
    color:black;
    font-size: 3vw;
    margin: auto;
}



li img{
    /* display: block; */
    height: auto;
    max-width:20vw;
    margin: auto;
}


.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:6vw;
    width: 5vw;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 10px rgba(204, 203, 203, 0.349); */
    background-color: transparent;
    order: 1;
    cursor: pointer;
    overflow: hidden;

}


div.burger span{
    position: absolute;
    height:2px;
    width: 14px;
    border-radius: 5px;
    background: #000;
    transition: transform 0.7s;
}


div.burger span:nth-child(1){
    height: 2px;
    width: 14px;
    background: #000;
    transform: translateY(-10px);
}


div.burger span:nth-child(2){
    height: 2px;
    width: 14px;
    background: #000;
    transform: translateY(10px);
}


.burger.active span:nth-child(1){

    background: black;
    transform: rotateZ(115deg);

}


.burger.active span:nth-child(2){
    
    transform: translateX(120px);
}


.burger.active span:nth-child(3){
    background: black;
    transform: rotateZ(245deg)

}

ul>li{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

/*navbar ends here */

/* main content starts from here */


main{
    margin: 10px;
}

#main-div{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2vh;
    justify-content: center;
    align-items: center;
    
}


#main-div p{
    width: 100%;
    display: inline;
    line-height: 5vw;
    font-size: 3vw;
}

#content{
    position: relative;
    overflow: hidden;
    border-radius:50%;
}

#main-div a{
    display: block;
    height:100%;
    width: 100%;
}


#main-div img{
    display: block;
    width: 32vw;
    height:32vw;
    /* background-color: rgba(255, 0, 0, 0.237);  */
    position: relative;
    /* border: 1px solid red; */
    border-radius: 50%;
    z-index: 10;
    object-fit: contain;

}

#main-div a::before{
    content: '';
    /* display: block; */
    background: transparent;
    /* align-items: center; */
    position: absolute;
    top: -50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translate(-50%,-50%);
    height: 190%;
    width:20%;
    background-image: linear-gradient(#0077B5, #1E2022,#fff);
    z-index: -10000;
    animation: 
    rotate 3s linear infinite;
}

#main-div a::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFEECF;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 50%;
    /* border: 2px solid red; */
    outline-offset: 2px;
    /* outline: 2px solid red; */
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    z-index: 2;
}

#name{
    color: transparent;
    font-size: 2.3vh;
    background-image: radial-gradient(orange, red);
    background-clip: text;
}


/* paragraph styles */


#python{
    background: linear-gradient(to right, #4178A6 50%,#FBCE2A);
    -webkit-background-clip:text;
    background-clip: text;
    color:  transparent;
}

#django{
    color: white;
    text-shadow: 0px 0px 1px #0C4B33;
}

#html{
    color: #DD4B25;;
    text-shadow:0px 0px 1px white;
}

#css{
    color:#254BDD;;
    text-shadow:0px 0px 1px white;
}
#js{
    color:#EFD81D;
    text-shadow:0px 0px 1px black;
}

#sql{
    color: #4270C4;
}

#mysql{
    background-image: linear-gradient(to right, #006EC0 30%, #E68706 , #0B5673 );

    background-clip: text;
    color: transparent
}

#second{
    margin: 10px 0px 0px 0px;
    display: flex;  
    flex-wrap: wrap;
    row-gap: 3vh;
    
}

#second img{
    margin: auto;
    width: 14vw;
    object-fit: contain;
    
}


#third h1{
    font-family: 'Pacifico';
    text-align: center;
    color: transparent;
    background-clip:
    text;
    margin-bottom: 10px;
    background-image: radial-gradient(rgb(93, 213, 139) , rgba(0, 0, 0, 0.637) 80%);
}

#third .certi{
    position: relative;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    z-index:0;
    overflow: hidden;
    border-radius: 10px;

}

.certi::before{
    content: '';

    background: transparent;
    position: absolute;
    height: 220%;
    width:40%;
    background-image: linear-gradient(#E5BB60, #376167);
    z-index: 1;
    animation: 
    rotate 5s linear infinite;

}

.certi::after{
    content: '';
    position: absolute;
    background-color: #FFEECF;
    width: 98%;
    height: 98%;
    z-index: 2;
    border-radius: 10px;

}

@keyframes rotate{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
    }
}



.certi img{
    margin: 10px;
    width: 25vw;
    height: 100%;
    border: 2px solid black;
    border-radius: 0px;
    z-index: 3;
    outline: 3px solid #A1662F;
}

.certi img:nth-child(1){
    height: auto;
}

.certi img:nth-child(3){
    height: auto;
}
/*  */

/* Footer Styles */


.main-foot{
    margin-top: 20vw;
    height: auto;
    width: 100vw;
    background-color: #211f1c6a;
    justify-content:center;
    align-items: center;
    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.footer a{
    position: relative;
    font-size: 7vw;;
    color: black;
    margin: 10px auto;
    z-index: 2;
}

.footer a::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.322);
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px);
}

#bottom_footer{

    height:auto;
    width: 100vw;
    background-color: rgba(34, 31, 31, 0.689);
    color: white;
}


