<!-- {% include 'navbar.html' %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/hamburger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>

    <nav class="my_nav">
        <ul class="container">

            <div id="div-1">
                <li class="item1"><img src="../static/images/title-left1.webp" alt="" width="auto" ></li>
            </div>

            <div class="burger">
                <span></span>
                <span></span>
                <span></span>

            </div>
            
            

            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">More</a></li>
        </ul>
    </nav>

    <main class="main">
        <div id="main-div">
            
            <p>
                <span id="name">Junaid Ahmed</span>, a passionate and dedicated 21-year-old aspiring web developer, Proficient in <span id="python">Python</span>, <span id="django">Django</span>, <span id="html">HTML</span>, <span id="css">CSS</span>, <span id="js">JavaScript</span>, <span id="sql">SQL</span>, and <span id="mysql">MySQL</span>.<br>
                Junaid possesses a versatile skill set essential for crafting dynamic and interactive web applications. His meticulous attention to detail, coupled with a creative flair, sets him apart as a promising talent in the realm of technology. Junaid's unwavering enthusiasm for coding and problem-solving, coupled with his robust technical knowledge, makes him a valuable asset to any web development team. As he embarks on his journey to become a seasoned web developer 
            </p>

            <img src="../static/images/Junaid_Photo.webp" alt="">
        </div>
        <br>
        <hr>
        <div id="second">
            <img src="../static/images/python.webp" alt="">
            <img src="../static/images/django.webp" alt="">
            <img src="../static/images/html.webp" alt="">
            <img src="../static/images/css.webp" alt="">
            <img src="../static/images/javascript.webp" alt="">
            <img src="../static/images/sql.webp" alt="">
            <img src="../static/images/mysql.webp" alt="">
        </div>
    
        

    </main>




    <script src="../static/js/hamburger.js"></script>
</body>


</html>
