<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/hamburger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>

    <nav class="my_nav">
        <ul class="container">

            <div id="div-1">
                <li class="item1"><img src="../static/images/title-left1.png" alt="" width="auto" ></li>
            </div>

            <div class="burger">
                <span></span>
                <span></span>
                <span></span>

            </div>
            
            

            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">More</a></li>
        </ul>
    </nav>

    <main class="main">
        <a href=""> Hello My Name Is Junaid Ahmed</a>
    </main>



    <script src="../static/js/hamburger.js"></script>
</body>


</html>